*{
  text-decoration: none;
  margin: 0;
  padding: 0;
    font-family: 'Montserrat';
    font-weight: bold;
}
.main {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	margin-top: 32px;
}

.container {
    max-width: 100%;
    width: auto;
}
.btn-call{
    width: 130px;
    height: 44px;
    border: 0;
    border-radius: 8px;
    background: #DD4859;
    color: var(--white, #FFF);
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;	
}

.btn-buy{
    width: 130px;
    height: 44px;
    border: 0;
    border-radius: 8px;
    background: #DD4859;
    color: var(--white, #FFF);
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
	margin-bottom:20px;
}

#name1::placeholder {
  padding-left: 20px;
}
#number1::placeholder {
  padding-left: 20px;
}
#photo1::placeholder {
  padding-left: 20px;
}
#name2::placeholder {
  padding-left: 20px;
}
#number2::placeholder {
  padding-left: 20px;
}
#photo2::placeholder {
  padding-left: 20px;
}

  .headline3 {
    color: #2D3848;
  font-size: 28px;
  font-weight: 800;

  }
  .letter__red{
    color: #DD4859;
}
ul {
	margin-top:8px;
	margin-left:66px;
}
li{
	display:inline-block;
	margin-right:32px;
}
.head-right{
	display:flex;
}
.head-left{
	display:flex;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main_hero{
    display: flex;
    margin-top: 63px;
    justify-content: space-between;
    align-items: center;
	padding:60px;
}
.main_hero-descript{
    width: 100%;
}
	.main_hero img {
		width:50%;
		height:auto;
	}
.headline1{
    color: var(--blueberry-100, #1A404C);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.headline4{
    color: var(--black, #000);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.headline5{
    color: var(--black, #000);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
	padding-top:85px;
	padding-bottom:20px;
}
.headline6{
    color: var(--black, #000);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
	text-align:center;
}
.headline2 {
    color: #1A404C;
    font-size: 40px;
    line-height: 54px;
    font-weight: 800;
    text-align: center;
    padding-top: 96px;
    padding-bottom: 66px;
  }
  .product-card {
    padding: 20px;
    text-align: center;
	max-width: 25%;
    display: inline-block;
  }

  .product-cards2{   
   text-align:center;
}
  .rectangle{
	width: 100%;
    height: auto;

    margin-left: 30px;
    margin-top: -80px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px 32px 32px 32px;
}  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 32px;
	text-align:center;
  }
  .advantures2 {
  max-width: 29%;
  height: auto;
  display: inline-block;
  box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);  
  border-radius: 128px 32px 32px 32px;
  margin: 10px;
}
  .advantures6 {
 text-align:center;
}  
  .body1 {
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 100;
  padding-top: 40px;
  text-align: center;
}  

.body2 {
  height: 24px;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}
  .circle{
	  text-align:center;
}
  .circle2{
	text-align:center;
	width:72px;
	height:72px;
	border-radius: 36px 36px 36px 36px;	
    background-color: #ffffff;
	margin:0 auto;
	margin-top:-36px;
	margin-bottom:20px;
}
  .counters {
    margin-top: 97px;
    justify-items: center;
    display: flex;
	text-align:center;
  height: 160px;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px 128px 32px 32px;	
    background: linear-gradient(180deg, rgba(221, 72, 89, 0.10) 0%, rgba(221, 72, 89, 0.25) 100%);
}
  .c-group{
      text-align: center;
      width: 29%;
	  margin:10px;
}

.label {
  color: var(--blue-100, #2D3848);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 20px; 
}

  .headline7 {
    color: #DD4859;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
  }

  .headline8 {
    color: white;
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 32px;
  }

  .body3 {
    color: white;
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    padding-top: 40px;
    text-align:center;
  }

  .ank {
    background: #DCDCDC40;
    	/*position: absolute;
    left: 0;*/
    width: 100%;
    height: auto;
	margin-top:96px;
  }
   .ank2 {

    display:flex;
    width: 90%;
    height: auto;
	margin:0 auto;	
	margin-top:60px;
	max-width:1000px;
	
  } 
  .form-group {
    margin-bottom: 15px;
    margin-top: 24px;
	max-width:45%;
	margin-top:-40px;
	margin-left:20px;

  }  
  .form-group2 {
    margin-bottom: 15px;
    margin-top: 24px;
	max-width:45%;
	margin-left:50px;
	display:flex;
	flex-direction:column;
	align-items:center;
  }    
  .proc-card{
    margin: 10px;
    text-align: center;
	max-width: 22%;
    display: inline-block;
    border-radius: 32px 32px 32px 32px;
	min-height:200px;
  }	

  .process{    
   text-align:center;
}

   .reviews {
    margin-top: 32px;
    justify-content: space-between;
  }
  
  .reviews-card {
    max-width: 31%;
    height: 380px;
    display: inline-block;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 128px 32px 32px 32px;
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
  }

  .reviews-card img {
    padding-top: 30px;
  }

   .form-group2 input{
	   width:100%; height:50px; margin-bottom:10px; border: none;
}
    .c-group2{
      margin:0 auto;
      width: 29%;
}

.btn3 {
  width: 130px;
  height: 44px;
  border: 0;
  border-radius: 8px;
  background: #DD4859;
  color: var(--white, #FFF);
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  margin-left: -270px;
margin-bottom:20px;
}

.btn4 {
  width: 130px;
  height: 44px;
  border: 0;
  border-radius: 8px;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 0px;
margin-bottom:20px;
}

.form-group img {
  border-radius: 32px 128px 32px 32px;
}

  .counters2 {
    margin-top: 97px;
    justify-items: center;
    display: flex;
	text-align:center;
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.25);
    border-radius: 128px 32px 32px 32px;	
    background: linear-gradient(103deg, #DD4859 -16.85%, rgba(221, 72, 89, 0.75) 87.04%);
}
footer{
	display: flex;
	justify-content: space-between;
	
}
   .foot1{
	   display:flex;
     margin-top: 96px;
	   flex-direction:column;
	   text-align:center;
}	  

.foot1 ul {
  margin-left: auto;
}

.foot1 li {
  margin-top: 12px;
  margin-left: 32px;
}

.foot1 img {
  margin-top: 16px;
  padding-right: 5px;
}
    .foot2{
	   display:flex;
	   margin:0 auto;
}		

.copy {
  text-align: center;
  margin: 25px 0 25px 0;
}

@media (max-width:400px){
    header{
        flex-direction: column;
        align-items: flex-start;
	}
	li{
		display: flex;
	}
	.head-right{
	    display:block;
		margin:0 auto;
    }
	.head-left{
	display:block;
	margin:0 auto;
	margin-bottom:30px;
	}
	ul {
		margin-left:10px;
	}
	.main_hero {
		display:block;
		text-align:center;
	}
	.main_hero img{
		width:100%;
  margin-top: 15px;
	}

  .btn3 {
    margin-left: 10px;
  }
	.headline1 {
    color: var(--blueberry-100, #1A404C);
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
	}
	.headline2 {
    color: #1A404C;
    font-size: 40px;
    line-height: 54px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    .product-card {
	max-width: 80%;
  }
  .advantures2{
	  max-width:80%;
  }
  .ank {
    /*position: absolute;
    left: 0;*/
    width: 100%;
    height: auto;
    flex-direction:column;
	margin-top:60px;
  }  
     .ank2 {    
    width: 100%;
    height: auto;
	flex-direction:column;
	margin-top:60px;
  } 
  .form-group{
	  max-width:80%;
	  margin:0 auto;
	  text-align:center;
	  margin-top:-40px;
	  margin-left:20px;
}	

.form-group img {
  margin-top: 40px;
}
  .form-group2{
	  max-width:80%;
	  margin:0 auto;
	  text-align:center;
}	 
  .proc-card{
       max-width: 80%;
	   text-align:center;
	   margin:0 auto;
	   margin-top:80px;
  }	

  .process {
	max-width: 80%;
	text-align:center;
	margin:0 auto;
  }
  .reviews-card {
	   max-width:100%;
	   text-align:center;
     margin-top: 32px;
   }  
   footer{
	   flex-direction:column;
	   
}
}



